.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('/bg-header-desktop.svg') 35%;
  background-color: $primary-color;
}
.header__size {
  margin-bottom: 65px;
  height: 156px;
  width: 100%;
}

.filter-list__container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  bottom: -20px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.filter-list {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
}
.filter-list__content {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.filter__name {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  color: $primary-color;
}
.filter__delete-btn {
  background: $primary-color;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.filter__cancel:hover {
  background: $darker-cyan;
}

.clear-all {
  color: $primary-color;
  font-weight: 700;
  line-height: 13px;
  border-bottom: 1.5px solid $primary-color;
  cursor: pointer;
}
